services:
  - type: web
    name: telegram-bot-service
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: BOT_TOKEN
        fromService:
          name: telegram-bot-service
          type: secret
      - key: MONGO_URI
        fromService:
          name: telegram-bot-service
          type: secret
      - key: OWNER_ID
        fromService:
          name: telegram-bot-service
          type: secret
      - key: CLOUDINARY_CLOUD_NAME
        fromService:
          name: telegram-bot-service
          type: secret
      - key: CLOUDINARY_API_KEY
        fromService:
          name: telegram-bot-service
          type: secret
      - key: CLOUDINARY_API_SECRET
        fromService:
          name: telegram-bot-service
          type: secret
    rootDirectory: .
    buildCommand: ""
    startCommand: "node dist/index.js"
    dockerContext: .
    dockerfile: ./Dockerfile
    autoDeploy: true